[submodule "azure-iot-sdk-c"]
	path = azure-iot-sdk-c
	url = https://github.com/VSChina/devkit-azure-iot-sdk-c
[submodule "mbed-os"]
	path = mbed-os
	url = https://github.com/VSChina/mbed-os
[submodule "mbed-az3166-driver"]
	path = mbed-az3166-driver
	url = https://github.com/VSChina/mbed-az3166-driver
